.mat-form-field{
    width: 100%;
}

/* .bgclr{
    background-color: rgb(216, 155, 198);
} */
/* .brdclr{
    background-color: rgb(134, 226, 226);
    background-color: #d9e0e7;   
} */
/* .clr{
    color: red;
} */

 body{
    background-color: #828282;
    
 }