
<div class="container">
  <div class="row">
    <div class="col-md-4">
        <div class="card" >
            <div class="card-body">
              <form #myForm="ngForm">
                <div class="form-group">
                  <input type="email" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp"placeholder="Enter email"
                    name="email" ngModel>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" id="exampleInputPassword1"
                  placeholder="Password" name="password" ngModel>
                </div>

                
                <button type="submit" style="width:-webkit-fill-available;" (click)="onLogin(myForm)"  class="btn btn-primary">Submit</button>
                <p> Forgot email / password ?</p>
              

         <div style="padding-left: 59px;">
            <div class="top-nav__auth " style="width: 80%; height: 18px; border-bottom: 1px solid rgb(162, 156, 156); text-align: center">
                <span>or</span> 
            </div>
         </div>
                       

                        <br>
               <div>
                    <small>Sign in using  </small> 
                     <br>
                  <button class="btn btn-facebook">
                    <i class="fa fa-facebook"></i>
                  </button>
                  <button class="btn btn-gplus">
                    <i class="fa fa-google-plus"></i>
                  </button>
                  <button class="btn btn-linkedin">
                    <i class="fa fa-linkedin"></i>
                  </button>
                  
                </div>

              </form> 
</div>
</div>
</div>
</div>
</div>
   