 <body >

 </body>
<div class="container ">
  <div class="col-md-8" id="content">
     <div>    
          <ul class="nav nav-tabs" *ngIf="showtab">
            <li class="nav-item">
            <a class="nav-link" (click)="onRent()"  >RENT</a>
              </li>
    
            <li class="nav-item">
              <a class="nav-link" (click)="onBuy()">BUY</a>
            </li>
        </ul>
        <form class="form-inline cntr">
            <div class="input-group">
                <span class="input-group-addon" (click)=OnType() > {{rent}} {{buy}} </span>
                <input type="text" class="form-control " (click)="onCard()"
                placeholder="   Enter any neighorhood, Feature, Zip Code"> 
              </div>
      </form> 
<!-- Property Type -->
      <div class="col-md-9" *ngIf="property" >  
        <div class="card card-body">
                <h6 style="padding-top:11px"> RESIDENTIAL </h6> 
                <div class="row">             
              <div class="col-md-4">
                        <mat-checkbox>Flat</mat-checkbox>
              </div>
              <div class="col-md-4">
                        <mat-checkbox>House / Villa</mat-checkbox>
              </div>  
              <div class="col-md-4">
                        <mat-checkbox>Plot / Land</mat-checkbox>
              </div>
        </div>
        <h6 style="padding-top:11px"> COMMERCIAL </h6>                                                
        <div class="row">             
        <div class="col-md-4">
                        <mat-checkbox>Office Space</mat-checkbox>
        </div>
        <div class="col-md-4">
                        <mat-checkbox>Shop / Showroom</mat-checkbox>
        </div>  
        <div class="col-md-4">
                        <mat-checkbox>Commercial Land</mat-checkbox>
        </div>
        <div class="col-md-4">
                <mat-checkbox>Warehouse / Godwon</mat-checkbox>
        </div>
        <div class="col-md-4">
                <mat-checkbox>Industrial Building</mat-checkbox>
        </div>  
        <div class="col-md-4">
                <mat-checkbox>Industrial Shed</mat-checkbox>
        </div>
  </div>
    <h6 style="padding-top:11px"> OTHERS </h6>                                                
      <div class="row">             
        <div class="col-md-4">
           <mat-checkbox>Agriculture Land</mat-checkbox>
        </div>
        <div class="col-md-4">
          <mat-checkbox>Farm House</mat-checkbox>
        </div>  
     </div>
    </div>
  </div>
<div>                         
<!-- End of Property Type -->
   
   <!-- Advance Search  -->
      <form class="form-inline" *ngIf="show" >
          <div class="col-md-12">
         <div class="card card-body crd">
              <div class="row">
                   <div class="col-md-6">
                        <div class="form-group">
                          <h6 style="padding-top:11px"> Location </h6>
                          <input id="typeahead-format1"   id="text1" type="text" 
                          class="form-control"  />   
                        </div>
                      </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-select placeholder="Ownership Type" [formControl]="toppings" multiple>
                                  <mat-select-trigger>
                                    {{toppings.value ? toppings.value[0] : ''}}
                                    <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                                      (+{{toppings.value.length - 1}} others)
                                    </span>
                                  </mat-select-trigger>
                                  <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                                </mat-select>
                                </mat-form-field>      
                              </div>
                            </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <form class="range-field">
                            <h6 style="padding-top:11px"> Price Range </h6>
                              <br>
                              <nouislider class="slider slider-primary" name="slide" [connect]="true" [min]="0" [max]="100" [step]="1" [(ngModel)]="doubleSlider" [tooltips]="true"></nouislider>
                            </form>
                        </div> 
                      </div>
                     <div class="col-md-6">
                    <div class="form-group">
                      <form class="range-field">
                          <h6 style="padding-top:11px"> Area size (sqft</h6>
                          <br>
                          <nouislider class="slider slider-primary" name="slide" [connect]="true" [min]="0" [max]="100" [step]="1" [(ngModel)]="doubleSlider1" [tooltips]="true"></nouislider>
                      </form>
                    </div> 
                 </div>
                   <div class="col-md-6">
                        <div class="form-group">
                          <h6 style="padding-top:11px"> Min. Bedrooms </h6> <br>
                          <ngb-pagination [collectionSize]="40" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
                          <!-- (click)="Onpagination()" [ngClass]="{'bgc': bgclr}"  //onclick change color -->
                        </div>
                     </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <h6 style="padding-top:11px"> Min. Bathrooms </h6> <br> 
                          <ngb-pagination  [collectionSize]="40" [(page)]="currentPage"></ngb-pagination>
                        </div>  
                      </div>
                   </div > 
                   <div>
                    <button mat-raised-button color="primary" (click)="OnSearch()" >Search</button> 
                    <button mat-raised-button color="accent" (click)="onCancel()">Cancel</button>                                 
                  </div>  
                </div> 
              </div>        
            </form>
       <!-- End Of Advance Search  -->
      </div>
    </div>
 </div>
  <br>

  