<div class="container">
  <div class="col-md-12">
 <!-- property area -->
 <div class="content-area home-area-1 recent-property" style="background-color: #FCFCFC; padding-bottom: 55px;">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                <!-- /.feature title -->
                <h2>Top submitted property</h2>
                <p>Here is one or two line of description about property   . </p>
            </div>
        </div>



        <div class="row">
          <div class="col-md-3">
              <div class="card card-body">
                  <div class="item-thumb">
                      <a href="#" ><img src="assets/img/demo/property-1.jpg"></a>
                  </div>
                  <div class="item-entry overflow">
                      <h5><a href="#" > Supe1r nice villa </a></h5>
                      <!-- <div class="dot-hr"></div>  -->
                      <span class="pull-left"><b>Area :</b> 120m </span>
                      <span class="proerty-price pull-right">$ 300,000</span>
                  </div>
              </div>
          </div>

          <div class="col-md-3">
              <div class="card card-body">
                  <div class="item-thumb">
                      <a href="property-2.html" ><img src="assets/img/demo/property-2.jpg"></a>
                  </div>
                  <div class="item-entry overflow">
                      <h5><a href="property-2.html" >Super2 nice villa </a></h5>
                      <!-- <div class="dot-hr"></div> -->
                      <span class="pull-left"><b>Area :</b> 120m </span>
                      <span class="proerty-price pull-right">$ 300,000</span>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="card card-body">
                  <div class="item-thumb">
                      <a href="property-3.html" ><img src="assets/img/demo/property-3.jpg"></a>

                  </div>
                  <div class="item-entry overflow">
                      <h5><a href="property-3.html" >Super3 nice villa </a></h5>
                      <!-- <div class="dot-hr"></div> -->
                      <span class="pull-left"><b>Area :</b> 120m </span>
                      <span class="proerty-price pull-right">$ 300,000</span>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="card card-body">
                  <div class="item-thumb">
                      <a href="#" ><img src="assets/img/demo/property-2.jpg"></a>

                  </div>
                  <div class="item-entry overflow">
                      <h5><a href="#" >Super4 nice villa </a></h5>
                      <!-- <div class="dot-hr"></div> -->
                      <span class="pull-left"><b>Area :</b> 120m </span>
                      <span class="proerty-price pull-right">$ 300,000</span>
                  </div>
              </div>
          </div>
        </div>
<br>


<div class="row">
    <div class="col-md-3">
        <div class="card card-body">
            <div class="item-thumb">
                <a href="#" ><img src="assets/img/demo/property-1.jpg"></a>
            </div>
            <div class="item-entry overflow">
                <h5><a href="#" > Supe1r nice villa </a></h5>
                <!-- <div class="dot-hr"></div>  -->
                <span class="pull-left"><b>Area :</b> 120m </span>
                <span class="proerty-price pull-right">$ 300,000</span>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card card-body">
            <div class="item-thumb">
                <a href="property-2.html" ><img src="assets/img/demo/property-2.jpg"></a>
            </div>
            <div class="item-entry overflow">
                <h5><a href="property-2.html" >Super2 nice villa </a></h5>
                <!-- <div class="dot-hr"></div> -->
                <span class="pull-left"><b>Area :</b> 120m </span>
                <span class="proerty-price pull-right">$ 300,000</span>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-body">
            <div class="item-thumb">
                <a href="property-3.html" ><img src="assets/img/demo/property-3.jpg"></a>

            </div>
            <div class="item-entry overflow">
                <h5><a href="property-3.html" >Super3 nice villa </a></h5>
                <!-- <div class="dot-hr"></div> -->
                <span class="pull-left"><b>Area :</b> 120m </span>
                <span class="proerty-price pull-right">$ 300,000</span>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-body">
            <div class="item-thumb">
                <a href="#" ><img src="assets/img/demo/property-2.jpg"></a>

            </div>
            <div class="item-entry overflow">
                <h5><a href="#" >Super4 nice villa </a></h5>
                <!-- <div class="dot-hr"></div> -->
                <span class="pull-left"><b>Area :</b> 120m </span>
                <span class="proerty-price pull-right">$ 300,000</span>
            </div>
        </div>
    </div>
    
  </div>


<br>

<div class="row">
    <div class="col-md-3">
        <div class="card card-body">
            <div class="item-thumb">
                <a href="#" ><img src="assets/img/demo/property-1.jpg"></a>
            </div>
            <div class="item-entry overflow">
                <h5><a href="#" > Supe1r nice villa </a></h5>
                <!-- <div class="dot-hr"></div>  -->
                <span class="pull-left"><b>Area :</b> 120m </span>
                <span class="proerty-price pull-right">$ 300,000</span>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card card-body">
            <div class="item-thumb">
                <a href="property-2.html" ><img src="assets/img/demo/property-2.jpg"></a>
            </div>
            <div class="item-entry overflow">
                <h5><a href="property-2.html" >Super2 nice villa </a></h5>
                <!-- <div class="dot-hr"></div> -->
                <span class="pull-left"><b>Area :</b> 120m </span>
                <span class="proerty-price pull-right">$ 300,000</span>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-body">
            <div class="item-thumb">
                <a href="property-3.html" ><img src="assets/img/demo/property-3.jpg"></a>

            </div>
            <div class="item-entry overflow">
                <h5><a href="property-3.html" >Super3 nice villa </a></h5>
                <!-- <div class="dot-hr"></div> -->
                <span class="pull-left"><b>Area :</b> 120m </span>
                <span class="proerty-price pull-right">$ 300,000</span>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-body">
            <div class="item-thumb">
                <a href="#" ><img src="assets/img/demo/property-2.jpg"></a>

            </div>
            <div class="item-entry overflow">
                <h5><a href="#" >Super4 nice villa </a></h5>
                <!-- <div class="dot-hr"></div> -->
                <span class="pull-left"><b>Area :</b> 120m </span>
                <span class="proerty-price pull-right">$ 300,000</span>
            </div>
        </div>
    </div>
    
  </div>

                
</div>
</div>
</div>